Body{
	background: #000;
	font-family: sans-serif;
	margin: 3%;
	margin-top:0%;
}

#Home{
	padding-top: 8%;
	width: 100%;
}

#Logo {
	display: inline-block;
	width: 65%;
	margin: 0;
	padding: 0;
}

h1{
	display: inline-block;
	position:relative;
	width: 30%;
	color:#ffffff;
	height:100%;
	font-size: 6vw;
	vertical-align:top;
	text-align:center;
}

#Barramovil{
	display:none;
}

h2, h3{
	text-align:center;
}

h3{
	font-size:18px;
}
#menu {
	font-size: 1.2rem;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	color: #ffffff;
	font-family: sans-serif;
	line-height: 50%;
	z-index: 1;
	width: 100%;
	transition: transform 0.4s ease;
}

#menu ul{
	list-style:none;
	margin:0;
	padding:0;
}
#menu li {
	display: inline-block;
	padding: 0 3rem 0 1rem;
	background: radial-gradient(rgba(90,90,90,0.4), rgba(150,150,150,0.4));
	width: 100%;
	line-height: 200%;
	text-align: center;
}
#menu a {
	color: #ffffff;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	cursor:pointer;
	transition: border-bottom 0.5s ease;
}
#menu a:hover {
	border-bottom: 2px solid #ffffff;
}

#menu.hidden{
	transform:translateY(-100%);
}


#Projects {
	width: 100%;
	color: #ffffff;
}

#ContenedorProyecto {
	position: relative;
	width: 80%;
	overflow: hidden;
	margin: 0 auto;
}

#carrusel{
	display: flex;
	width:500%;
	transition: transform 0.4s ease;
}

#carrusel img{
	width: 20%;
	margin-right: 1%;
}

.carrusel-boton {
	position: absolute;
	z-index: 1;
	top: 0%;
	width: 7.5%;
	border: none;
	background-color: rgba(0,0,0,0.05);
	color: rgba(0,0,0,0.1);
	font-size: 4vw;
	cursor: pointer;
	transition: background-color 0.3s ease;
	height: 100%;
}
.carrusel-boton span{
	display:block;
	transform: scaleY(4);
}

.carrusel-boton:hover{
	background-color: rgba(0,0,0,0.4);
	color:rgba(255,255,255,0.7);
}

.carrusel-boton#anterior{
	left:0%;
}

.carrusel-boton#siguiente{
	right: 0%;
}

#carrusel-progreso{
	display:flex;
	justify-content:center;
}


.Progreso{
	height: 7px;
	width: 7px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 50%;
	margin: 10px;
}

.Progreso:first-child{
	background-color: rgba(255,255,255,1);
}

#Description{
	text-align:center;
	font-size:120%;
}

#seeproject {
	text-decoration: none;
	color: #000;
	background: radial-gradient(#ffffff, #a3a3a3);
	padding: 2.5px 5px 2.5px 5px;
	margin: 2px;
	border-radius: 10px;
	border-bottom: 2px solid #4e4e4e;
	border-right: 2px solid #4e4e4e;
}

#seeproject:hover, #seeproject:focus {
	color: #fff;
	background: radial-gradient(#a3a3a3, #626262);
	border-bottom: 1px solid #4e4e4e;
	border-right: 1px solid #4e4e4e;
}

#About{
	width:100%;
	color: #ffffff;
}


ul{
	list-style:none;
	display:flex;
}

li{
	margin: 0 auto;
	text-align:center;
}

#SoftwareSkills img, #Contact img{
	display:flex;
	height:50px;
	margin: 0 auto;
}

.stars{
	font-size:20px;
}

#Contact{
	width: 100%;
	color: #ffffff;
}

@media (max-width: 480px){
	body{
		padding-top: 30px;
	}
	#Barramovil{
		display:flex;
		position:fixed;
		background-color: rgba(0,0,0,0.8);
		top:0;
		right:0;
		left:0;
		padding-top:2%;
	}

	#Logo {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#Description{
		font-size:100%;
	}
	#icono{
		position:relative;
		height:5vh;
		left:5%;
	}

	#Botonguesa{
		position:relative;
		color: #ffffff;
		font-size:5vh;
		left:75%;
		cursor:pointer;
	}

	#menu {
		bottom: 0;
		background-color: rgba(0,0,0,0.6);
		z-index: 2;
	}
	#menu ul{
		display:grid;
	}

	#menu li{
		display: initial;
		margin: 18%;
		font-size: 200%;
		width: auto;
		line-height:0%;
	}


	#SoftwareSkills ul{
		display: grid;
		grid-template-columns: auto auto;
		row-gap: 10px;
		column-gap: 10px;
		margin-left: -40px;
	}

	#SoftwareSkills li:nth-child(3) {
		grid-column-start: 1;
		grid-column-end: 3;
	}

	#Languages ul, #Contact ul{
		display: initial;
		margin: 0;
		padding: 0;
	}

	#Languages li, #Contact li{
		margin: 10%;
	}
}
